.navbar-custom {
    background-color: #AD9B88;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 2px solid #b69b7b;
}


.nav-distribute {
    display: flex;
    flex-wrap: wrap; /* IMPORTANTE */
    justify-content: center;
    gap: 1.5rem;
}

.nav-link {
    white-space: nowrap;
}

.nav-link {
    color: #fff !important;
    font-weight: 600;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #333 !important;
}

@media (max-width: 992px) { 
    .nav-link { font-size: 1.1rem; }
}

@media (max-width: 768px) { 
    .nav-link { font-size: 1rem; margin: 0 0.5rem; } 
}

.navbar .container {
    padding-left: 0;
}

.logo-navbar {
    height: 75px;
    width: auto;
}
